/* HELLO WORLD !

OpenClassrooms, projet HTML, CSS : Booki

- Organisation du fichier par SECTION :

  UTILITIES | HEADER | FORM | FILTERS | CARDS / HOME / POP / ACT | FOOTER

- Suivant les directives du projet,
  chacune des sections est codée via la hiérarchie suivante :

  DESKTOP --> TABLET --> MOBILE

  Avec --> SECTION + ANIMATION */


/* UTILITIES */

* {
    padding-inline-start: unset;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    margin: unset;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* au click du menu : smooth scroll */
    }
}

body {
    margin: 0 55px;
}

h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    /* cards */
}

h4,
input,
button,
.filter p {
    font-size: 18px;
    font-weight: 700;
    /* footer / input / button */
}

.filter button {
    font-size: 17px;
}

p {
    font-size: 16px;
}

.card p{
    font-size: 14px;
    font-weight: 400;
}


/* HEADER | DESKTOP | TABLET */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.logo {
    height: 19px;
}

#menu {
    display: flex;
    height: 100%;
}

.menu {
    position: relative;
    /* sans la notion relative le content au hover prendrai toute la nav */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 100%;
    color: black;
}

/* HEADER | DESKTOP | TABLET | ANIMATION */

.menu:hover {
    color: #0065FC;
}

.menu::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #0065FC;
    transform: scale(0);
    transition-duration: 0.3s;
}

.menu:hover:before {
    transform: scale(1);
}


/* HEADER | MOBILE */

@media only screen and (max-width: 748px) {
    body {
        margin: unset;
    }

    #nav {
        flex-direction: column;
        height: 130px;
    }

    .logo {
        margin-top: 22px;
        margin-bottom: 40px;
    }

    #menu {
        width: 100%;
        justify-content: center;
    }

    .menu {
        width: inherit;
        height: 80%;
    }

    /* HEADER | MOBILE | ANIMATION */

    .menu::before {
        top: unset;
        bottom: 0;
        height: 3px;
    }

    .menu::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #F2F2F2;
        transform: scale(1);
        transition-duration: 0.3s;
    }

    .menu:hover:after {
        transform: scale(0);
    }
}


/* HEADLINE | DESKTOP */

#headline {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

h1 {
    margin-bottom: 8px;
}


/* FORM | DESKTOP */

.search {
    margin-top: 20px;
    display: flex;
}

.search span {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.search i {
    font-size: 18px;
}

.search input {
    border: 1px solid #F2F2F2;
    padding-left: 16px;
}

.search button {
    pointer-events: none;
    width: 130px;
    padding: unset;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    background: #0065FC;
    color: white;
}

@media only screen and (max-width: 748px) {
    #headline {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-bottom: 13px;
    }

    .search {
        margin-top: 36px;
        width: 100%;
        border-radius: 0 15px 15px 0;
    }

    .search button {
        width: 50px;
        font-size: 0;
        border-radius: 15px;
        position: absolute;
        right: 20px;
        height: 50px;
    }

    .search button::after {
        font-family: "Font Awesome 5 Free";
        color: white;
        content: "\f002";
        font-size: 17px;
    }
}


/* FILTER | DESKTOP */

.filter {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.filter div {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
}

.filter button {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: unset;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    transition-duration: 0.2s;
}

.filter i {
    color: #0065FC;
    margin-right: 20px;
    transform: rotateZ(0deg);
    transition: transform 0.9s;
}


/* FILTER | ANIMATION */

.filter button:hover {
    background-color: #DEEBFF;
}

.filter button:focus-within,
.filter button:active {
    color: white;
    background-color: #0065FC;
}

.filter button:focus-within i {
    transform: rotateZ(-360deg);
    color: white;
}

@media only screen and (max-width: 748px) {
    .filter {
        flex-direction: column;
        align-items: normal;
        gap: 16px;
        margin-top: 34px;
    }

    .filter div {
        flex-flow: nowrap;
        gap: 14px;
    }

    .filter button {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        padding: unset;
        font-size: 11px;
        width: 50%;
    }

    .filter i {
        margin-left: 13px;
        margin-right: 5px;
        font-size: 16px;
    }

    .filter button:focus-within {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}


.info {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 10px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin-right: 11px;
    flex-shrink: 0;
}

@media only screen and (max-width: 748px) {
    .info {
        margin-top: 40px;
        align-items: flex-start;
    }

    .info i {
        font-size: 14px;
    }
}


/* CARD | HOME | DESKTOP */

#home{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 40px;
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 200px;
    gap: 25px;
}

#home > div{
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    gap: 25px;
}

.home{
    display: flex;
    flex-direction: column;
    width: 33%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.home img{
    position: relative;
    width: auto;
    height: 60%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
}

.home div{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    gap: 9px;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
}

.line-one .home:first-child img{
    background-image: url("../images/home/4-auberge-la-cannebiere.jpg");
}

.line-one .home:nth-child(2) img{
    background-image: url("../images/home/5-hotel-du-sport.jpg");
}

.line-one .home:last-child img{
    background-image: url("../images/home/6-hotel-les-mouettes.jpg");
}

.line-two .home:first-child img{
    background-image: url("../images/home/7-hotel-de-la-mer.jpg");
}

.line-two .home:nth-child(2) img{
    background-image: url("../images/home/8-auberge-le-panier.jpg");
}

.line-two .home:last-child img{
    background-image: url("../images/home/9-hotel-chez-amina.jpg");
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0 11px 16px;
}

.card span{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

.star::before{
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    letter-spacing: 2px;
    content: "\f005\f005\f005\f005";
    color: #0065FC;
}

.star::after{
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    padding-left: 2px;
    content: "\f005";
    color: #D9D9D9;
}

.more{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    padding: 2px;
}